.hiddenDiv {
    display: none;
    background-color: rgba(1,0,0,0.6);
    ;
    color: white;
    width: 800px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
}
#intro{
    background-color: rgba(1,0,0,0.6);
;
    color: white;
    width: 800px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
}
.section{
    width: 800px;
    color: white;
    background-color: #48486a;
    font-size: 32px;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
}
#map{
    width: 400px;
    height: 400px;
}
body{
    background-image: url("pics/Saab.jpg");
    background-size: 100%;
}
h1{
    color: white;
}
#profilePic img{
    border: 5px solid white;
    border-radius: 10px;
    position: absolute;
    right: 60px;

}
